.infoDetails {
  margin-top: 10px;
  color: black;
  font-weight: 600;
}

.infoDetails ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.infoDetails ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.infoDetails ul li:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.chosenOne {
  background-color: bisque;
  border-radius: 10px;
  padding: 8px 12px;
}

.notChosen {
  background-color: white;
  border-radius: 10px;
  padding: 8px 12px;
}
