.movie {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
}

.movie img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  transition: sacle opacity 10s ease-in-out;
}

.movie img {
  opacity: 0.8;
}

.movie img:hover {
  opacity: 1;
  scale: 1.02;
}

.movie img:hover ~ a {
  font-size: 1.02em;
}

.movie a {
  text-align: center;
}
